* {
    font-family: Lato;
  }
  
.navbar {
    justify-content: space-between;
    background-color: #9c2010;
}

span {
    padding-right: 1rem;
}

.btn{
    color: white;
}

.header{
    font-size: 70px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1500px;
    }
}
