<strong>{{ data.name }}</strong>
<hr>
<!-- <mat-dialog-content>Are you sure?</mat-dialog-content> -->
<ul class="companies">
  <li *ngFor="let employee of employees; let i = index">
    <mat-checkbox (change)="eventCheck($event, employee.name);" id="{{ 'cost_id' + i}}">{{ employee.name }}</mat-checkbox>
  </li>
</ul>
<!-- <div class="companies">
    <div *ngFor="let price of prices">
      <div *ngIf="price !== null">{{ price.price }}</div>
    </div>
  </div> -->
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true" class="btn btn-success" (click)="onSave(data.name)">Save</button>
</mat-dialog-actions> 