<!-- <mat-dialog-content>Are you sure?</mat-dialog-content> -->
<ul class="companies">
  <li *ngFor="let employee of employees">
    <mat-checkbox (change)="onCheckboxStateChange($event, company.id);">{{ employee.name }}</mat-checkbox>
  </li>
</ul>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true" class="btn btn-success">Save</button>
</mat-dialog-actions>