.comanda {
    justify-content: center;
    width: 304px;
    padding: 10px;
}

span {
    padding: 1rem;
    justify-content: center;
}

.buttoncolor{
    background-color: #dd4b39;
    color: white;
}

.buttondiv{
    margin-left: 0.1rem;
}

.headers{
    margin-bottom: 0.9rem;
}

.container-fluid{
    align-items: center;
}

.redbtn{
    color: red;
}

.xbtn{
        border: 0;
        background: none;
        box-shadow: none;
        border-radius: 0px;
        font-size: 12px;
}