.comanda-container {
    justify-content: center;
}

span {
    padding: 1rem;
    justify-content: center;
}

.buttoncolor{
    background-color: #dd4b39;
    color: white;
}

.buttondiv{
    margin-left: 0.1rem;
}