<br>
<div class="container-fluid">
<h5 class="headers">Servicio</h5>
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group-vertical mr-2 buttondiv" role="group" aria-label="First group" *ngFor="let service of services; let i = index">
      <button type="button" class="btn buttoncolor" (click)="openDialog(service.name)" id="{{ 'service_id' + i }}">{{service.name}}</button>
    </div>
  </div>

  <br>
  <h5 class="headers">{{myDate | date:'dd/MM/yyyy'}} - Comanda Nº: {{ comanda }}</h5>
  <div class="comanda">	
    <div class="container-fluid">
      <ul class="list-group" id="comandaList" *ngFor="let comanda of comandas; let i = index">
        <li class="list-group-item" *ngIf="comanda !== null" id="{{ 'item_id' + i}}">
          <div class="row">
            <div class="mr-auto" id="{{comanda.id}}" >{{ comanda.service.name | json }} - ${{ comanda.service.price | json }} | 
              {{ comanda.employee | json }}
            </div>
            <button type="button" class="mdc-icon-button material-icons xbtn" appShadow (click)="removeLine($event)">clear</button>
          </div>	
        </li>
      </ul>
    </div>
  </div>
  <hr>
<h5>Total comanda: {{comanda_total}}</h5>
</div>
