.comanda {
    justify-content: center;
    width: 304px;
    padding: 10px;
}

span {
    padding: 1rem;
    justify-content: center;
}

.buttoncolor{
    background-color: #dd4b39;
    color: white;
}

.buttondiv{
    margin-left: 0.1rem;
}

.headers{
    margin-bottom: 0.9rem;
}

.container-fluid{
    align-items: center;
}

.xbtn{
        border: 0;
        background: none;
        box-shadow: none;
        border-radius: 0px;
        font-size: 12px;
}
  li div button:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: red;
    z-index: -1;
  }
  
  li div button:hover:before {
    box-shadow: 0 0 5px red;
    filter: blur(3px);
  }